#app {
    /* blue */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
    /* background-color: white; */
    /* pink */
    /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%); */
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    min-height: 100vh;
    height: 100%;
}

.md-title {
    font-family: 'Karla', cursive;
    font-size: 30px;
    color: rgb(25,37,42);
    font-weight: 900;
}
.question-list {
    border: 0;
    border-bottom: 1px solid lightgrey;
    margin-top: 1rem;
}

.home {
    min-height: 100vh;
    height: 100%
}

.question-card {
    border: 0;
    border-bottom: 2px solid #f4f4f4;
    min-height: 20vh;
}

.search-bar {
    height: 4.5vh;
    font-size: 15px;
}

.md-menu-content-container {
    background-color: white;
}

.black-text {
    color: black

}
.click-able {
    cursor: pointer;
}
.option :hover {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.login-form {
    width: 50vw;
    margin-top: 3rem;
}

.input-login {
    border: 0 !important;
    border-bottom: 1px solid black !important;
}

.md-datepicker-dialog {
    max-height: 35vh;
    background-color: white;
}

.md-datepicker-header {
    background-color: #f4f4f4
}

.login-form-container {
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    box-shadow: 0px 0px 0px lightgrey;
    -webkit-transition:  box-shadow .3s ease-out;
       box-shadow: .8px .9px 3px rgb(141, 138, 138);
}

.question-form {
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    box-shadow: 0px 0px 0px lightgrey;
    -webkit-transition:  box-shadow .3s ease-out;
       box-shadow: .8px .9px 3px rgb(141, 138, 138);
}

.left-bar {
    border-right: 1px solid lightgrey;
    background-color: white;
    min-height: 100vh;
    height: 100%;
}
.watched-tag {
    min-height: 30vh;
    background-color: rgba(241,241,238, 0.2);
    box-shadow: 0px 0px 0px lightgrey;
    -webkit-transition:  box-shadow .3s ease-out;
       box-shadow: .8px .9px 3px rgb(141, 138, 138);
}